{% extends '::base.html.twig' %}

{% block body -%}
 <div id="features-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="12u 12u(medium)">

                                <!-- Box -->
                                    <section class="box feature">
                                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                                        <div class="inner">
                                            <header>
                                                <h2>Fish list</h2>
                                                <p>Big Fish, small fish and turtles.</p>
                                            </header>

                                                <table class="records_list">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Name</th>
                                                            <th>Food</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for entity in entities %}
                                                        <tr>
                                                            <td><a href="{{ path('fish_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                                            <td>{{ entity.name }}</td>
                                                            <td>{{ entity.food }}</td>
                                                            <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="{{ path('fish_show', { 'id': entity.id }) }}">show</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ path('fish_edit', { 'id': entity.id }) }}">edit</a>
                                                                </li>
                                                            </ul>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>

                                                    <ul>
                                                    <li>
                                                        <a href="{{ path('fish_new') }}">
                                                            Create a new entry
                                                        </a>
                                                    </li>
                                                </ul>
                                        </div>
                                    </section>

                            </div>
                            
                             
                        </div>
                    </div>
    </div>
 
    
    {% endblock %}
